In [1]:
# Import pandas
import pandas as pd

In [6]:
# Create a DataFrame with balance.txt
df = pd.read_csv("balance.txt", sep=" ")
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

In [11]:
# Compare the average income based on ethnicity.
avg_income_ethnicity = df.groupby("Ethnicity")["Income"].mean()
print(avg_income_ethnicity)

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [14]:
# On average, do married or single people have a higher balance?
married_single_balance = df.groupby("Married")["Balance"].sum()
print(married_single_balance)
print("Married people have a higher balance.")

Married
No     2091.493897
Yes    3280.176002
Name: Balance, dtype: float64
Married people have a higher balance.

In [18]:
# What is the highest income in our dataset?
highest_income = df["Income"].max()
print(f"The highest income in the dataset is {highest_income}.")

The highest income in the dataset it 186.634.

In [19]:
# What is the lowest income in our dataset?
lowest_income = df["Income"].min()
print(f"The lowest income in the dataset is {lowest_income}.")

The lowest income in the dataset is 10.354.

In [20]:
# How many cards do we have recorded in our dataset?
cards_sum = df["Cards"].sum()
print(f"There are {cards_sum} cards recorded in the dataset.")

There are 1183 cards recorded in the dataset.

In [26]:
# How many females do we have information for vs how many males?
df["Gender"].value_counts()

Gender
Female    207
Male      193
Name: count, dtype: int64

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).